<div class="advantages">
  <div class="flex-center advantages-desk" style=" align-items: stretch;height: 600px;gap: 100px;">
    <div class="left-image-container">
      <div class="flex-center" style="height:50%;">
        <img src="image 44.png" alt="">
      </div>
    </div>
    <div class="square-container">
      <div data-aos="fade-left" class="square">
        <img src="image 23.png" alt="">
        <div class="advantage right">
          <h5>Rapide à mettre en place</h5>
          <p>Choisissez votre produit, obtenez votre lien et communiquez. C'est aussi simple que ça.</p>
        </div>
      </div>
      <div data-aos="fade-left" class="square">
        <img src="image 27.png" alt="">
        <div class="advantage right">
          <h5>Facile à utiliser</h5>
          <p>Bénéficiez de nos conseils et de contenu marketing pour obtenir les meilleurs résultats le plus rapidement possible.</p>
        </div>
      </div>
      <div data-aos="fade-right" class="square">
        <img src="image 28.png" alt="">
        <div class="advantage left">
          <h5>Rémuneration élevée et mensuelle</h5>
          <p>Chaque mois, percevez vos commissions; elles correspondent au montant des ventes générées sur le mois précédent.</p>
        </div>
      </div>
      <div data-aos="fade-right" class="square">
        <img src="image 43.png" alt="">
        <div class="advantage left">
          <h5>Suivi personnalisé</h5>
          <p>Un de nos experts en communication vous accompagne vous au quotidien pour vous aider dans votre communication et répondre à vos questions.</p>
        </div>
      </div>
    </div>
    <div class="right-image-container">
      <div class="flex-center" style="height:50%;">
        <img src="image 45.png" alt="">
      </div>
    </div>
  </div>
  <div class="advantages-mobile">
    <div data-aos="fade-right" class="advantage-box-mobile">
      <div class="square">
        <img src="image 23.png" alt=""></div>
      <div class="text">
        <div class="header">
          <h5>Rapide à mettre en place</h5>
        </div>
        <div class="description">
          <p>Choisissez votre produit, obtenez votre lien et communiquez. C'est aussi simple que ça.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div data-aos="fade-left" class="advantage-box-mobile">
      <div  class="square">
        <img src="image 27.png" alt=""></div>
      <div class="text">
        <div class="header">
          <h5>Facile à utiliser</h5>
        </div>
        <div class="description">
          <p>Bénéficiez de nos conseils pour obtenir les meilleurs résultats le plus rapidement possible. Nous vous mettons à disposition du contenu marketing afin de simplifier votre communication !</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div data-aos="fade-right" class="advantage-box-mobile">
      <div  class="square">
        <img src="image 28.png" alt=""></div>
      <div class="text">
        <div class="header">
          <h5>Rémuneration élevée et mensuelle</h5>
        </div>
        <div class="description">
          <p>Chaque mois, vous percevrez vos commissions. Elles correspondent au montant des ventes générées sur le mois précédent. Nous récompensons votre travail à sa juste valeur.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div data-aos="fade-left" class="advantage-box-mobile">
      <div  class="square">
        <img src="image 43.png" alt=""></div>
      <div class="text">
        <div class="header">
          <h5>Suivi personnalisé</h5>
        </div>
        <div class="description">
          <p>Un de nos experts en communication vous est dédié. Il vous accompagne vous au quotidien pour vous aider dans votre communication, répondre à vos questions, mettre en place votre projet, etc.</p>
        </div>
      </div>
    </div>
  </div>
</div>