<div class="advantages">
  <div class="flex-center advantages-desk" style=" align-items: stretch;height: 600px;gap: 100px;">
    <div class="left-image-container">
      <div class="image"></div>
    </div>
    <div class="square-container">
      <div class="square">
        <div class="advantage right">
          <h5>Rapide à mettre en place</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non, consequatur vero perferendis, voluptates ipsam aut?</p>
        </div>
      </div>
      <div class="square">
        <div class="advantage right">
          <h5>Facile à utiliser</h5>
          <p>Lorem ipsum dolor, sit amet, consecteturat?</p>
        </div>
      </div>
      <div class="square">
        <div class="advantage left">
          <h5>Rémuneration élevée et mensuel</h5>
          <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Ex voluptates ipsa numquam aperiam in placeat?</p>
        </div>
      </div>
      <div class="square">
        <div class="advantage left">
          <h5>Suivi personnalisé</h5>
          <p>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Ex voluptates ipsaiam in placeat?</p>
        </div>
      </div>
    </div>
    <div class="right-image-container">
      <div class="image"></div>
    </div>
  </div>
  <div class="advantages-mobile">
    <div class="advantage-box-mobile">
      <div class="square"></div>
      <div class="text">
        <div class="header">
          <h5>Rapidité de mise en place</h5>
        </div>
        <div class="description">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima iusto nisi hic ipsa nesciunt incidunt.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="advantage-box-mobile">
      <div class="square"></div>
      <div class="text">
        <div class="header">
          <h5>Facile à utiliser</h5>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, odit, exercitationem quisquam quibusdam modi laboriosam.</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="advantage-box-mobile">
      <div class="square"></div>
      <div class="text">
        <div class="header">
          <h5>Rémuneration élevée et mensuel</h5>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut nostrum, ut fugiat nisi ipsa!</p>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="advantage-box-mobile">
      <div class="square"></div>
      <div class="text">
        <div class="header">
          <h5>Suivi personnalisé</h5>
        </div>
        <div class="description">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nostrum et ratione voluptate dignissimos aliquid.</p>
        </div>
      </div>
    </div>
  </div>
</div>