<div class="glider-contain" style="
margin: 0 auto;">
  <div class="glider2">
    <div class="carou-item"><img src="/retour1.png" alt=""></div>
    <div class="carou-item"><img src="/retour2.png" alt=""></div>
    <div class="carou-item"><img src="/retour3.png" alt=""></div>
    <div class="carou-item"><img src="/retour4.png" alt=""></div>
    <div class="carou-item"><img src="/retour5.png" alt=""></div>
    <div class="carou-item"><img src="/retour6.png" alt=""></div>
    <div class="carou-item"><img src="/retour7.png" alt=""></div>
    <div class="carou-item"><img src="/retour8.png" alt=""></div>
  </div>
  <div role="tablist" id="dots2"></div>
</div>