<div class="row2Wrap">
  <div class="slider" id="slider2">
    <div class="carou-item"><img src="/retour1.png" alt=""></div>
    <div class="carou-item"><img src="/retour2.png" alt=""></div>
    <i class="left" class="arrows" style="z-index:2; position:absolute;">
      <svg viewBox="0 0 100 100">
        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path>
      </svg>
    </i>
    <i class="right" class="arrows" style="z-index:2; position:absolute;">
      <svg viewBox="0 0 100 100">
        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" transform="translate(100, 100) rotate(180) "></path>
      </svg>
    </i>
  </div>
</div>
<%= javascript_pack_tag "carousel" %>