<div class="glider-contain" style="max-width: 650px;
margin: 0 auto;">
  <div class="glider">
      <% Product.all.each do |product| %>
      <div>
          <%= render "components/product_card", product: product %>
      </div>
      <% end %>
  </div>
  <div role="tablist" id="dots"></div>
</div>