<div class="container">
  <div class="row flex-center catalogue-container" style="align-items: stretch;">
    <% Product.all.each do |product| %>
      <%= render "components/product_card", brand: product.logo, status: product.status, title: product.title, description: product.description.html_safe, cta: "Jusqu'à 350e par vente" %>
    <% end %>
  </div>
</div>