<div class="ccm-container flex-center" style="align-items: flex-start;">
  <div data-aos="zoom-in" id="ccm-step-1" class="step">
    <div class="step-box">
      <div class="number-container flex-center">
        <div>1</div>
      </div>
      <img src="image 24.png" alt="">
    </div>
    <h5>Choisissez vos ou votre produit(s)</h5>
    <p class="" style="text-align:center;width:100%;">Pour commencer à monétiser ta communauté, il te faut choisir un produit. Nous en avons plusieurs; que ce soit des formations certifiantes, ou bien des produits ou services divers, trouve le produit qui correspond le mieux à ta communauté  et postule. Un de nos agents revient auprès de toi très prochainement.</p> 
  </div>
  <div data-aos="zoom-in" data-aos-delay="100" id="ccm-step-2" class="step">
    <div class="step-box">
      <div class="number-container flex-center">
        <div>2</div>
      </div>
      <img src="image 29.png" alt="">
    </div>
    <h5>Communiquez sur vos réseaux</h5>
    <p class="" style="text-align:center;width:100%;">Une fois ton produit choisi, et validé, tu peux commencer la communication ! Un jeu d’enfant avec Monetize. Echange avec ton “manager”, il est disponible pour te guider et t’aider à mettre en place tes premières communications avec ta communauté. Tu as également des visuels à dsposition sur ton tableau de bord </p>
    
  </div>
  <div data-aos="zoom-in" data-aos-delay="200" id="ccm-step-3" class="step">
    <div class="step-box">
      <div class="number-container flex-center">
        <div>3</div>
      </div>
      <img src="image 41.png" alt="">
    </div>
    <h5>Générez et recevez vos premières commissions </h5>
    <p class="" style="text-align:center;width:100%;">En fonction de ta communication, des ventes vont être générées. Tu recevras tes commissions pour ces ventes le mois suivant. Paiement rapide et correspondant à ton travail fourni. Nous avons plusieurs méthodes de paiement, a toi de nous dire celle que tu préfères ! </p> 
  </div>
</div>