<div class="ccm-container flex-center" style="align-items: flex-start;">
  <div class="step">
    <div class="step-box">
      <div class="number-container flex-center">
        <div>1</div>
      </div>
      <img src="image 24.png" alt="">
    </div>
    <h5>Choisissez vos ou votre produit(s)</h5>
  </div>
  <div class="step">
    <div class="step-box">
      <div class="number-container flex-center">
        <div>2</div>
      </div>
      <img src="image 29.png" alt="">
    </div>
    <h5>Communiquez sur vos réseaux</h5>
  </div>
  <div class="step">
    <div class="step-box">
      <div class="number-container flex-center">
        <div>3</div>
      </div>
      <img src="image 41.png" alt="">
    </div>
    <h5>Générez et recevez vos premières commissions </h5>
  </div>
</div>