<div class="ccm-container flex-center" style="align-items: stretch;">
  <div data-aos="fade-up" id="ccm-step-1" class="step">
    <div class="step-box">
      <div class="number-container flex-center">
        <div>1</div>
      </div>
      <img src="registered.png" alt="">
      <h5><span class="text-prim">Inscrivez-vous</span> sur notre plateforme</h5> 
    </div>
    
   
  </div>
  <div data-aos="fade-up" data-aos-delay="100" >
    <div class="flex-center link">
      <hr> 
    </div>
  </div>
  <div data-aos="fade-up" data-aos-delay="100" id="ccm-step-2" class="step">
    <div class="step-box">
      <div class="number-container flex-center">
        <div>2</div>
      </div>
      <img src="image 24.png" alt="">
      
      <h5><span class="text-prim">Choisissez</span> vos ou votre produit(s)</h5>
    </div>
    

    
  </div>
  <div data-aos="fade-up" data-aos-delay="200" >
    <div class="flex-center link">
      <hr> 
    </div>
  </div>
  <div data-aos="fade-up" data-aos-delay="200" id="ccm-step-3" class="step">
    <div class="step-box">
      <div class="number-container flex-center">
        <div>3</div>
      </div>
      <img src="image 29.png" alt="">
      
      <h5><span class="text-prim">Communiquez</span> sur vos réseaux</h5>
    </div>
    

  </div>
  <div data-aos="fade-up" data-aos-delay="300" >
    <div class="flex-center link">
      <hr> 
    </div>
  </div>
  <div data-aos="fade-up" data-aos-delay="300" id="ccm-step-3" class="step">
    <div class="step-box" style="background: rgb(56, 174, 204);">
      <div style="    background: white;
      border: 1px solid rgb(56, 174, 204);color:rgb(56, 174, 204);" class="number-container flex-center">
        <div>4</div>
      </div>
      <img src="image 41.png" alt="">
      <h5><span style="color:white;font-weight: bold;">Recevez</span> vos premières commissions</h5>
    </div>
    

  </div>
</div>