<div class="accordion">
  <label data-aos="fade-up" class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">1. Paiement des commissions</h5>
    <p class="accordion__content">Le paiement des commissions se fait tous les mois entre le 15 et le 20. Le montant des commissions payées correspond au montant des « commissions validées ». Vous avez accès à toutes ces informations sur votre tableau de bord !</p>
  </label>
  <label data-aos="fade-up" class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">2. Comment communiquer ?</h5>
    <p class="accordion__content">Vous pouvez communiquer de manière habituelle (story, posts sur vos réseaux sociaux, etc.). Nous vous mettons également à disposition une petite bibliothèque de visuels prêts à l’emploi que vous pourrez récupérer et poster sur vos réseaux ou sur vos canaux de communication.</p>
  </label>
  <label data-aos="fade-up" class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">3. Tracking et suivi des commissions</h5>
    <p class="accordion__content">Le tracking est notre expertise. Nous devons savoir d’où provient chaque prospect sur chacun des produits/services de notre catalogue. Pour se faire, nous avons développé des outils techniques nous permettant de nous assurer de la traçabilité de chaque prospect sur votre tableau de bord (utilisation de cookies, adresse IP, appareil utilisé, etc.). Toutes les données relatives à vos communications vous seront présentées sur votre tableau de bord en temps réel, de l’inscription de votre prospect à la vente.</p>
  </label>
  <label data-aos="fade-up" class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">4. Comment sont choisis les produits ?</h5>
    <p class="accordion__content">L’idée de Monetizee est de mettre à disposition de tous les créateurs de contenu, des produits et services de qualité vers lesquels rediriger votre audience. Si un produit ou service se trouve dans notre catalogue, il a préalablement été « vérifié » par nos soins en terme de sérieux, qualité de l’offre, paiement des commissions, etc.</p>
  </label>
  <label data-aos="fade-up" class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">5. Qui peut participer ?</h5>
    <p class="accordion__content">Tout le monde. Nous souhaitons rendre disponible les différents produits au plus grand nombre d’entre vous. Si vous avez une petite base de followers ou que vous avez des personnes autour de vous susceptibles d’être intéressées par la monétisation d’une communauté, la solution Monetizee est faite pour vous. Prenez rendez-vous avec un de nos conseillers, il vous guidera dans votre démarche.</p>
  </label>
  <label data-aos="fade-up" class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">6. Y a-t-il un engagement ?</h5>
    <p class="accordion__content">Aucun engagement n’est nécessaire au lancement de votre partenariat avec Monetizee. Commencez quand vous le souhaitez. Un conseiller vous sera mis à disposition dès votre inscription, entrez en contact avec lui pour développer votre communication et générer vos premières commissions. Communiquez quand vous le souhaitez. Plus vous communiquez, plus vous avez de chance d’intéresser votre communauté au(x) produit(s) choisi(s). C’est parti !</p>
  </label>
</div>