<div class="accordion">
  <label class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">1. Paiement des commissions</h5>
    <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate explicabo eligendi molestiae cumque delectus quis, ut error itaque soluta sed ducimus cupiditate dignissimos atque et quod quaerat corporis. Doloremque, culpa!</p>
  </label>
  <label class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">2. Comment communiquer ?</h5>
    <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate explicabo eligendi molestiae cumque delectus quis, ut error itaque soluta sed ducimus cupiditate dignissimos atque et quod quaerat corporis. Doloremque, culpa!</p>
  </label>
  <label class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">3. Tracking? Accès à de la data? Suivi des commissions</h5>
    <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate explicabo eligendi molestiae cumque delectus quis, ut error itaque soluta sed ducimus cupiditate dignissimos atque et quod quaerat corporis. Doloremque, culpa!</p>
  </label>
  <label class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">4. Comment sont choisi les produits ?</h5>
    <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate explicabo eligendi molestiae cumque delectus quis, ut error itaque soluta sed ducimus cupiditate dignissimos atque et quod quaerat corporis. Doloremque, culpa!</p>
  </label>
  <label class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">5. Qui peut participer ?</h5>
    <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate explicabo eligendi molestiae cumque delectus quis, ut error itaque soluta sed ducimus cupiditate dignissimos atque et quod quaerat corporis. Doloremque, culpa!</p>
  </label>
  <label class="accordion__item">
    <input type="checkbox" name="accordion">
    <h5 class="accordion__title">6. Y a-t-il un engagement ?</h5>
    <p class="accordion__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate explicabo eligendi molestiae cumque delectus quis, ut error itaque soluta sed ducimus cupiditate dignissimos atque et quod quaerat corporis. Doloremque, culpa!</p>
  </label>
</div>