<div class="feedback-card">
  <div class="feedback-card-header">
    <div>
      <h5><%= title %></h5>
      <p><%= content %></p>
    </div>
  </div>
  <div class="footer-container">
    <div class="flex-center">
      <%= render "components/star_rating", stars: stars %>
    </div>
    <hr>
    <div class="footer-feedback-card">
      <div class="square"></div>
      <div class="footer-feedback-card-text">
        <h5><%= pseudo %></h5>
        <p>Influenceur</p>
      </div>
    </div>
  </div>
</div>