<div class="footer footer-container flex-center">
  <p>Copyright 2022 - © Monetize - <a href="/cgu">Politique de confidentialité et Conditions Générales</a></p>
</div>
<div class="footer mobile-footer-container">
  <p>Copyright 2022 - © Monetize</p>
  <u>
    <p><a href="/cgu">Politique de confidentialité et Conditions Générales</a></p>
  </u>
</div>