<div class="footer footer-container flex-center">
  <p>Copyright 2022 - © Monetize - <a href="/cgu">Politique de confidentialité et Conditions Générales</a></p>
  <!-- TrustBox widget - Micro Review Count -->
  <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="63288169a0b078b5c60fe940" data-style-height="100%" data-style-width="100%" data-theme="light" data-min-review-count="10" data-style-alignment="center">
    <a href="https://fr.trustpilot.com/review/monetizee.fr" target="_blank" rel="noopener">Trustpilot</a>
  </div>
  <!-- End TrustBox widget -->
</div>
<div class="footer mobile-footer-container">
  <p>Copyright 2022 - © Monetize</p>
  <u>
    <p><a href="/cgu">Politique de confidentialité et Conditions Générales</a></p>
  </u>
  <!-- TrustBox widget - Micro Review Count -->
  <div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="63288169a0b078b5c60fe940" data-style-height="24px" data-style-width="100%" data-theme="light" data-min-review-count="10" data-style-alignment="center">
    <a href="https://fr.trustpilot.com/review/monetizee.fr" target="_blank" rel="noopener">Trustpilot</a>
  </div>
  <!-- End TrustBox widget -->
</div>