<% user_products.each do |user_product| %>
  <div class="line-container flex-between w-100">
    <div class="flex-between left-product-info" style="min-width:60%; gap:10px;">
      <img src="<%= user_product.product.logo %>" style="max-height:50px;max-width:200px;" alt="">
      <% if user_product.status == 1 %>
        <div class="line-validation flex-start">
          <div class="account-validation-status"></div>
          <p>Actif</p>
        </div>
      </div>
      <a class="" href="/dashboard" >
        <div class="cta cta-sm" style="font-size:13px;"><i style="margin-right: 5px;" class="<%= user_product.product.icon %>"></i>Dashboard</div>
      </a>
    <% else %>
      <div class="spinner-container flex-start">
        <div class="verification-spinner"></div>
        <p>Vérification en cours...</p>
      </div>
    </div>
    <a class="" href="/dashboard" >
      <div class="cta cta-sm" style="font-size:13px;"><i style="margin-right: 5px;" class="fas fa-calendar"></i>Prendre RDV</div>
    </a>
  <% end %>
</div>
<% end %>