$inset: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
$inset-reverse: inset 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
$inset-horrizontal: inset 7px 0 9px -7px rgba(0,0,0,.25), inset -7px 0 9px -7px rgba(0,0,0,.25);
$outset: 0 2px 4px 0 rgba(0,0,0,.2);
$outset: rgba(0, 0, 0, 0.2) 0px 5px 15px;
$navbar-height: calc(60px + 1vw);
