Bonjour <%= @user.pseudo %>, <br>
Nous espérons que vous vous portez bien !
<br>
<br>
<p>Félicitation, votre demande d'accès à la campagne promotionnelle <%= @user_product.product.title %> vient d'être acceptée !</p>
<p>Vous trouverez désormais vos liens de tracking, des vidéos et flyers promotionels, vos statistiques de vente et bien plus dans votre <a href="www.monetizee.fr/dashboard">dashboard</a>.</p>
<p>Pour commencé a générer vos premières commissions, il vous suffit simplement de faire la promotion de <%= @user_product.product.title %> en utilisant, ou non, le contenu marketing mis a disposition, et en redirigent les personnes intéressées vers votre/vos liens de tracking.</p>
<p>Si vous avez besoin d'aide ou quelconque question, n'hésitez surtout pas à nous contacter par email, téléphone, ou en prenant un <a href="<%= @user.calendly_url %>">rendez-vous</a>.</p>