Bonjour <%= @user.pseudo %>, <br>
Nous espérons que tu te portes bien !
<br>
<br>
<p>Nous te contactons aujourd’hui pour te confirmer ton inscription sur notre site internet <a href="www.monetizee.fr">www.monetizee.fr</a></p>
<p>Tu souhaites vivre de ta passion ? C’est super. Nous sommes là pour te guider.</p>
<p>Afin commencé à générer tes premières commission, nous t’invitons à ajouter tes cannaux de communication, et de chosir un produit.</p>
<p>Une fois ces étapes terminées, nous prendrons rapidement contact avec vous pour finaliser votre inscription.</p>
<p>Si vous voulez accélérer cette finalisation, ou vous avez des questions, n'hésitez pas à <a href="<%= '#' %>">prendre rendez-vous</a></p>