Bonjour <%= @user.pseudo %>, <br>
Nous espérons que vous vous portez bien !
<br>
<br>
<p>Nous vous contactons aujourd’hui pour vous confirmer votre inscription sur notre site internet <a href="www.monetizee.fr">www.monetizee.fr</a></p>
<p>Vous souhaitez vivre de votre passion ? C’est super. Nous sommes là pour vous guider.</p>
<p>Afin commencé à générer vos premières commissions, nous vous invitons à ajouter vos cannaux de communication, et a chosir un produit.</p>
<p>Une fois ces étapes terminées, nous prendrons rapidement contact avec vous pour finaliser votre inscription.</p>
<p>Si vous voulez accélérer cette finalisation, ou que vous avez des questions, n'hésitez pas à <a href="<%= @user.calendly_url %>">prendre rendez-vous</a>.</p>