// Specific CSS for your home-page
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-primary-color {
  color: $primary-color
}

.section-spacer {
  display:block;
  height:40px;
  box-shadow: $inset;
  width:100%;
  background: $primary-color;
  &.card-spacer {
    height:5px!important;
  }

}


.spacer {
  display:block;
  height:50px;
  &.spacer-sm {
    height:25px!important;
  }
}

.cta {
  text-align:center;
  padding: 12px 17px;
  background: $primary-color;
  color: white;
  border-radius: 50px;
  box-shadow:  $inset;
  border: 0;
  &:hover {
  background: $primary-color;
  color: white;
  }
  &.cta-sm {
    padding: 7px 12px;
  }
  &.light {
    box-shadow:  $outset!important;
    background: white!important;
    color: $primary-color!important;
  }
}


$section-padding: 70px;
.section {
  padding: $section-padding 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.section-1{
  z-index:-2;
}


.section-1, .section-2 {
  min-height: 100vh;
  background:white;
}

.section-4 {
  background: $primary-color!important;

}
