<div class="sub-section">
  <h3>Comment se lancer ?</h3>
  <h2>Commencer en quelques étapes</h2>
  <h4>Pour commencer à générer vos premières commissions, suivez les étapes ci-dessous:</h4>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <%= render "components/comment_ca_marche" %>

 <div class="spacer"></div>
  <div class="flex-center">
    <a href="<%= @cta_url %>" class="cta"><%= @cta_text %></a>
  </div>
</div>