<div class="sub-section" style="width:100%">
  <div class="countainer">
    <h3 class="light">Produits à promouvoir</h3>
    <h2 class="light">Catalogue</h2>
    <h4 style="max-width: 600px;
    text-align: center;
    margin: 0 auto;" class="light">Voici le catalogue Monetizee. Vous y trouverez les produits prêts à promouvoir. Retrouvez plus d'information sur nos produits directement depuis votre <u><a style="color:white!important;" href="<%= dashboard_path %>">tableau de bord</a></u></h4>
  </div>
  <div class="spacer"></div>
  <%= render "components/catalogue" %>
  <div class="spacer"></div>
  <div class="flex-center">
    <a href="<%= @cta_url %>" class="cta light"><%= @cta_text %></a>
  </div>
</div>