<div class="">
  <h3>Pourquoi utiliser Monetize?</h3>
  <h2>Simple, Rapide, Efficace</h2>
  <h4>Notre solution permet à nimporte qui de monétiser son réseau</h4>
  <div class="spacer"></div>
  <%= render "components/avantages" %>
</div>