<div class="">
  <div class="flex-center">
    <div>
      <div class="flex-center">
        <h1>Monétise ta communauté</h1>
      </div>
      <div class="flex-center">
        <h1>en quelques cliques</h1>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <p style="text-align:center;padding:0 10%;">La première solution de monetisation de communauté <span class="text-primary-color">clé en main</span>.</p>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="flex-center">
    <a href="#" class="cta">Commencer Maintenant</a>
  </div>
</div>