<div class="">
  <div class="countainer">
    <h3 class="light">Produits à promouvoir</h3>
    <h2 class="light">Catalogue</h2>
    <h4 class="light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel consectetur maiores consequuntur qui cupiditate a.</h4>
  </div>
  <div class="spacer"></div>
  <%= render "components/catalogue" %>
  <div class="spacer"></div>
  <div class="flex-center">
    <a href="<%= @cta_url %>" class="cta light"><%= @cta_text %></a>
  </div>
</div>