<div class="sub-section">
    <h3 class="light">Qu’est-ce que Monetizee ?</h3>
    <h2 class="light">Un système simple</h2>
    <h4 class="light">Influenceur est un des métier le plus convoité au monde, et pourtant, 85% d’entre eux n’arrivent pas à en vivre.</h4>
    <div class="spacer"></div>
    <div class="what-contain">
      <div class="what-text">
        <h3 class="light" style="font-weight: bold;">Notre Mission</h3>
        <div class="spacer spacer-sm"></div> 
        <p style="font-size: 1.1rem;">Notre mission est de <span style="font-weight:bold;">booster les revenues</span> de créateurs de contenu en leur proposant des <span style="font-weight:bold;">outils de monétisation efficaces et facile à utiliser</span>.</p>
        <div class="spacer spacer-sm"></div>
        <p style="font-size: 1.1rem;"><span style="font-weight:bold;">L’influenceur communique librement</span> sur le produit ou service choisit, et <span style="font-weight:bold;">Monetizee s’occupe du reste</span>.</p>
        <div class="spacer spacer-sm"></div>
        <p></p>
      </div>
      <img data-aos="zoom-in" data-aos-delay="200" style="width: 90%;
      max-width: 550px;
      max-height: 90vh;" src="expl.png" alt="">
    </div>
  </div>
