<div class="hero-container">
  <div class="flex-center">
    <div>
      <div class="flex-center">
        <h1 data-aos="zoom-in">Monétise ta communauté</h1>
      </div>
      <div data-aos="zoom-in" class="flex-center">
        <h1>en quelques cliques</h1>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <p data-aos="fade" data-aos-delay="500" style="text-align:center;padding:0 10%;">La première solution de monetisation de communauté <span class="text-primary-color">"clé en main"</span>.</p>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div data-aos="fade" data-aos-delay="1000"  class="flex-center">
    <a href="<%= @cta_url %>" class="cta"><%= @cta_text %></a>
  </div>
</div>