<div class="flex-center section-7-container">
  <div class="last-cta-text">
    <h3>Commencer dès maintenant</h3>
    <h2 class="mb-2">Commencez à générer des commissions des maintenant !</h2>
    <a href="<%= @cta_url %>" class="cta"><%= @cta_text %></a>
  </div>
  <div class="last-cta-image">
    <img src="image 42.png" alt="">
  </div>
</div>