<div  class="hero-container sub-section">
  <div class="flex-center">
    <div>
      <div class="flex-center">
        <h1 data-aos="zoom-in">Monétise ta communauté !</h1>
      </div>
      <div class="flex-center">
        <p style="display:inline-block;font-size:1.5rem;font-family: 'Plus Jakarta Sans', 'sans-serif';margin-top:25px"><span data-aos="zoom-in" data-aos-delay="500">SIMPLE</span> <span data-aos="zoom-in" data-aos-delay="700">-</span> <span data-aos="zoom-in" data-aos-delay="900">RAPIDE</span> <span data-aos="zoom-in" data-aos-delay="1100">-</span> <span data-aos="zoom-in" data-aos-delay="1300">EFFICACE</span></p>
      </div>
      

    </div>
  </div>
  <div class="spacer"></div>
  <p data-aos="fade" data-aos-delay="2000" style="text-align:center;padding:0 10%;">La première solution de monetisation de communauté <span class="text-primary-color">"clé en main"</span>.</p>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div data-aos="fade" data-aos-delay="2000"  class="flex-center">
    <a href="<%= @cta_url %>" class="cta"><%= @cta_text %></a>
  </div>
</div>
