<div class="">
  <h3>Comment ca marche?</h3>
  <h2>Commencer en quelques étapes</h2>
  <h4>Suivez les trois étapes expliquées ci-dessous:</h4>
  <div class="spacer"></div>
  <%= render "components/comment_ca_marche" %>
  <div class="spacer"></div>
  <p class="container" style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium perspiciatis est sequi tenetur soluta facere magni, non aliquid! Ipsam assumenda odio quia aut inventore dolor nulla beatae cum voluptatibus, aperiam sit fuga exercitationem, ex voluptate quo. Fuga asperiores voluptate repellat?</p>
  <div class="spacer"></div>
  <div class="flex-center">
    <a href="<%= @cta_url %>" class="cta"><%= @cta_text %></a>
  </div>
</div>