<div class="">
  <h3>Pourquoi utiliser Monetize?</h3>
  <h2>Simple, Rapide, Efficace</h2>
  <h4>Notre solution vous permet de monétiser votre communauté, réseau, audience sans trop d’efforts</h4>
  <div class="spacer"></div>
  <%= render "components/avantages" %>
</div>