<div class="spacer"></div>
<div class="flex-center">
  <div class=" cgu">
    <div class="c x1 y1 w2 h2">
      <div class="t m0 x2 h2 y2 ff1 fs0 fc0 sc0 ls0 ws1">Conditions générales d'utilisation du site Monetize</div>
      <div class="t m0 x4 h5 y4 ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h5 y5 ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y6 ff1 fs1 fc0 sc0 ls0 ws1">Préambule </div>
      <div class="t m0 x4 h5 y7 ff2 fs1 fc0 sc0 ls0 ws1">Les présentes conditions générales d'utilisation sont conclues entre :</div>
      <div class="t m0 x4 h5 y8 ff2 fs1 fc0 sc0 ls0 ws1">- le gérant du site internet, ci-après désigné « l’Éditeur »,</div>
      <div class="t m0 x4 h5 y9 ff2 fs1 fc0 sc0 ls0 ws1">- toute personne souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».</div>
      <div class="t m0 x4 h5 ya ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 yb ff1 fs1 fc0 sc0 ls0 ws1">Article 1 - Principes</div>
      <div class="t m0 x4 h5 yc ff2 fs1 fc0 sc0 ls0 ws1">Les présentes conditions générales d'utilisation ont pour objet l'encadrement juridique de l’utilisation du site<span class="_ _0"> </span> et de <span class="_ _1"></span> Monetize</div>
      <div class="t m0 x4 h5 yd ff2 fs1 fc0 sc0 ls0 ws1">ses services.</div>
      <div class="t m0 x4 h5 ye ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h5 yf ff2 fs1 fc0 sc0 ls0 ws1">Le site Internet <span class="_ _2"> </span> est un service de : <span class="_ _3"></span>www.monetize.fr</div>
      <div class="t m0 x1 h5 y10 ff2 fs1 fc0 sc0 ls0 ws1"> Arcancia ltd</div>
      <div class="t m0 x1 h5 y11 ff2 fs1 fc0 sc0 ls0 ws1">située <span class="_ _4"> </span> <span class="_ _5"></span>152, OFFICE 9 TRIQ IN NAXXAR<span class="_"> </span>9030 SAN GWANN, Malta</div>
      <div class="t m0 x1 h5 y12 ff2 fs1 fc0 sc0 ls0 ws1">adresse URL du site : www.monetize.fr</div>
      <div class="t m0 x1 h5 y13 ff2 fs1 fc0 sc0 ls0 ws1">e-mail : contact@monetize.fr</div>
      <!--       <div class="t m0 x1 h5 y14 ff2 fs1 fc0 sc0 ls0 ws1">numéro de téléphone : +33 6 86 95 12 06</div> -->
      <div class="t m0 x4 h5 y15 ff2 fs1 fc0 sc0 ls0 ws1">Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces </div>
      <div class="t m0 x4 h5 y16 ff2 fs1 fc0 sc0 ls0">conditions.</div>
      <div class="t m0 x4 h5 y17 ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y18 ff1 fs1 fc0 sc0 ls0 ws1">Article 2 - Evolution et durée des CGU</div>
      <div class="t m0 x4 h5 y19 ff2 fs1 fc0 sc0 ls0 ws1">Les présentes conditions générales d'utilisation sont conclues pour une durée indéterminée. Le contrat produit ses effets à </div>
      <div class="t m0 x4 h5 y1a ff2 fs1 fc0 sc0 ls0 ws1">l'égard de l'Utilisateur à compter du début de l’utilisation du service.</div>
      <div class="t m0 x4 h5 y1b ff2 fs1 fc0 sc0 ls0 ws1">Le site <span class="_ _6"> </span> se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans <span class="_ _7"></span>Monetize</div>
      <div class="t m0 x4 h5 y1c ff2 fs1 fc0 sc0 ls0">justification.</div>
      <div class="t m0 x4 h5 y1d ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y1e ff1 fs1 fc0 sc0 ls0 ws1">Article 3 - Accès au site</div>
      <div class="t m0 x4 h5 y1f ff2 fs1 fc0 sc0 ls0 ws1">Tout Utilisateur ayant accès à internet peut accéder gratuitement et depuis n’importe où au site <span class="_ _8"></span>Monetize. Les frais supportés </div>
      <div class="t m0 x4 h5 y20 ff2 fs1 fc0 sc0 ls0 ws1">par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.</div>
      <div class="t m0 x4 h5 y21 ff2 fs1 fc0 sc0 ls0 ws1">Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une </div>
      <div class="t m0 x4 h5 y22 ff2 fs1 fc0 sc0 ls0 ws1">maintenance, sans obligation de préavis ou de justification.</div>
      <div class="t m0 x4 h5 y23 ff2 fs1 fc0 sc0 ls0 ws1">L'Utilisateur du site a accès aux services suivants : <span class="_ _9"> </span>.<span class="_ _a"></span>Prestation de marketing d'influence</div>
      <div class="t m0 x4 h5 y24 ff2 fs1 fc0 sc0 ls0 ws1">Le site comprend un espace membre payant réservé aux utilisateurs inscrits. Ces utilisateurs pourront y accéder en utilisant </div>
      <div class="t m0 x4 h5 y25 ff2 fs1 fc0 sc0 ls0 ws1">leurs identifiants de connexion. </div>
      <div class="t m0 x4 h5 y26 ff2 fs1 fc0 sc0 ls0 ws1">Les services réservés aux membres sont les suivants : Accès au Dashboard, choix d'un produit, accès aux liens de tracking, </div>
      <div class="t m0 x5 h5 y27 ff2 fs1 fc0 sc0 ls0 ws1">.<span class="_ _b"></span>accès aux commissions</div>
      <div class="t m0 x4 h5 y28 ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y29 ff1 fs1 fc0 sc0 ls0 ws1">Article 4  - Responsabilités </div>
      <div class="t m0 x4 h5 y2a ff2 fs1 fc0 sc0 ls0 ws1">La responsabilité de l'Éditeur ne peut être engagée en cas de défaillance, panne, difficulté ou interruption de fonctionnement, </div>
      <div class="t m0 x4 h5 y2b ff2 fs1 fc0 sc0 ls0 ws1">empêchant l'accès au site ou à une de ses fonctionnalités.</div>
      <div class="t m0 x4 h5 y2c ff2 fs1 fc0 sc0 ls0 ws1">Le matériel de connexion au site utilisée est sous l'entière responsabilité de l'Utilisateur qui doit prendre toutes les mesures </div>
      <div class="t m0 x4 h5 y2d ff2 fs1 fc0 sc0 ls0 ws1">appropriées pour protéger le matériel et les données notamment d'attaques virales par Internet. L'utilisateur est par ailleurs le </div>
      <div class="t m0 x4 h5 y2e ff2 fs1 fc0 sc0 ls0 ws1">seul responsable des sites et données qu'il consulte.</div>
      <div class="t m0 x4 h5 y2f ff2 fs1 fc1 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h5 y30 ff2 fs1 fc0 sc0 ls0 ws1">L'Éditeur ne pourra être tenu responsable en cas de poursuites judiciaires à l'encontre de l'Utilisateur :</div>
      <div class="t m0 x4 h5 y31 ff2 fs1 fc0 sc0 ls0 ws1">-  du fait de l'usage du site ou de tout service accessible <span class="_ _c"> </span> Internet ;<span class="_ _d"></span><span class="ff3">via</span></div>
      <div class="t m0 x4 h5 y32 ff2 fs1 fc0 sc0 ls0 ws1">-  du fait du non-respect par l'Utilisateur des présentes conditions générales.</div>
      <div class="t m0 x4 h5 y33 ff2 fs1 fc1 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h5 y34 ff2 fs1 fc0 sc0 ls0 ws1">L'Éditeur n'est pas responsable des dommages causés à l'Utilisateur, à des tiers et/ou à l'équipement de l'Utilisateur du fait de </div>
      <div class="t m0 x4 h5 y35 ff2 fs1 fc0 sc0 ls0 ws1">sa connexion ou de son utilisation du site et l'Utilisateur renonce à toute action contre l'Éditeur de ce fait.</div>
      <div class="t m0 x4 h5 y36 ff2 fs1 fc0 sc0 ls0 ws1">Si l'Éditeur venait à faire l'objet d'une procédure amiable ou judiciaire à raison de  l'utilisation du site par l'Utilisateur, il </div>
      <div class="t m0 x4 h5 y37 ff2 fs1 fc0 sc0 ls0 ws1">pourra retourner contre lui pour obtenir indemnisation de tous les préjudices, sommes, condamnations et frais qui pourraient </div>
      <div class="t m0 x4 h5 y38 ff2 fs1 fc0 sc0 ls0 ws1">découler de cette procédure.</div>
      <div class="t m0 x4 h5 y39 ff2 fs1 fc1 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y3a ff1 fs1 fc0 sc0 ls0 ws1">Article 5  - Propriété intellectuelle</div>
      <div class="t m0 x4 h5 y3b ff2 fs1 fc0 sc0 ls0 ws1"><span class="fc2 sc0">Tous </span><span class="fc2 sc0">les </span><span class="fc2 sc0">documents </span><span class="fc2 sc0">techniques, </span><span class="fc2 sc0">produits, </span><span class="fc2 sc0">photographies, </span><span class="fc2 sc0">textes, </span><span class="fc2 sc0">logos, </span><span class="fc2 sc0">dessins, </span><span class="fc2 sc0">vidéos, </span><span class="fc2 sc0">etc., </span><span class="fc2 sc0">sont </span><span class="fc2 sc0">soumis </span><span class="fc2 sc0">à </span><span class="fc2 sc0">des </span><span class="fc2 sc0">droits </span><span class="fc2 sc0">d'auteur </span></div>
    </div>
    <div class="c x1 y1 w2 h2">
      <div class="t m0 x4 h5 y3c ff2 fs1 fc0 sc0 ls0 ws1">Tous les documents techniques, produits, photographies, textes, logos, dessins, vidéos, etc., sont soumis à des droits d'auteur </div>
      <div class="t m0 x4 h5 y3d ff2 fs1 fc0 sc0 ls0 ws1">et sont protégés par le Code de la propriété intellectuelle. Lorsqu'ils sont remis à nos clients, ils demeurent la propriété </div>
      <div class="t m0 x4 h5 y3e ff2 fs1 fc0 sc0 ls0 ws1">exclusive de <span class="_ _e"> </span>, seul titulaire des droits de propriété intellectuelle sur ces documents, qui doivent lui être rendus à <span class="_ _f"></span>Arcancia ltd</div>
      <div class="t m0 x4 h5 y3f ff2 fs1 fc0 sc0 ls0 ws1">sa demande.</div>
      <div class="t m0 x4 h5 y40 ff2 fs1 fc0 sc0 ls0 ws1">Nos clients s'engagent à ne faire aucun usage de ces documents, susceptible de porter atteinte aux droits de propriété </div>
      <div class="t m0 x4 h5 y41 ff2 fs1 fc0 sc0 ls0 ws1">industrielle ou intellectuelle du fournisseur et s'engagent à ne les divulguer à aucun tiers, en dehors d'une autorisation </div>
      <div class="t m0 x4 h5 y42 ff2 fs1 fc0 sc0 ls0 ws1">expresse et préalable donnée par l'Editeur.</div>
      <div class="t m0 x4 h5 y43 ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y44 ff1 fs1 fc0 sc0 ls0 ws1">Article 6  - Liens hypertextes</div>
      <div class="t m0 x4 h5 y45 ff2 fs1 fc0 sc0 ls0 ws1">La mise en place par l'Utilisateur de tous liens hypertextes vers tout ou partie du site est strictement interdite, sauf </div>
      <div class="t m0 x4 h5 y46 ff2 fs1 fc0 sc0 ls0 ws1">autorisation préalable et écrite de l'Éditeur, sollicitée par courriel à l'adresse suivante : <span class="_ _10"> </span>.<span class="_ _11"></span>contact@monetize.fr</div>
      <div class="t m0 x4 h5 y47 ff2 fs1 fc0 sc0 ls0 ws1">L'Éditeur est libre de refuser cette autorisation sans avoir à justifier de quelque manière que ce soit sa décision. Dans le cas </div>
      <div class="t m0 x4 h5 y48 ff2 fs1 fc0 sc0 ls0 ws1">où l'Éditeur accorderait son autorisation, celle-ci n'est dans tous les cas que temporaire et pourra être retirée à tout moment, </div>
      <div class="t m0 x4 h5 y49 ff2 fs1 fc0 sc0 ls0 ws1">sans obligation de justification à la charge de l'Éditeur.</div>
      <div class="t m0 x4 h5 y4a ff2 fs1 fc0 sc0 ls0 ws1">Dans tous les cas, tout lien devra être retiré sur simple demande de l'Éditeur.</div>
      <div class="t m0 x4 h5 y4b ff2 fs1 fc0 sc0 ls0 ws1">Toute information accessible <span class="_ _c"> </span> un lien vers d'autres sites n'est pas sous le contrôle de l'Éditeur qui décline toute <span class="_ _12"></span><span class="ff3">via</span></div>
      <div class="t m0 x4 h5 y4c ff2 fs1 fc0 sc0 ls0 ws1">responsabilité quant à leur contenu.</div>
      <div class="t m0 x4 h5 y4d ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y4e ff1 fs1 fc0 sc0 ls0 ws1">Article 7 - Protection des données personnelles</div>
      <div class="t m0 x4 h3 y4f ff1 fs1 fc0 sc0 ls0 ws1">Données collectées </div>
      <div class="t m0 x4 h5 y50 ff2 fs1 fc0 sc0 ls0 ws1">Les données à caractère personnel qui sont collectées sur ce site sont les suivantes :</div>
      <div class="t m0 x4 h5 y51 ff1 fs1 fc3 sc0 ls0 ws1">- ouverture de compte : <span class="ff2 fc0">lors de la création du compte de l'utilisateur : nom ; prénom ;<span class="_ _8"></span> adresse électronique ; n° de </span></div>
      <div class="t m0 x6 h5 y52 ff2 fs1 fc0 sc0 ls0 ws1"> <span class="_ _13"></span>téléphone ;</div>
      <div class="t m0 x4 h5 y53 ff1 fs1 fc3 sc0 ls0 ws1">- connexion : <span class="ff2 fc0">lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment, ses nom, prénom, données de </span></div>
      <div class="t m0 x4 h5 y54 ff2 fs1 fc0 sc0 ls0 ws1">connexion, d'utilisation, de localisation et ses données relatives au paiement ;</div>
      <div class="t m0 x4 h5 y55 ff1 fs1 fc3 sc0 ls0 ws1">- profil : <span class="ff2 fc0">l'utilisation des prestations prévues sur le site web permet de renseigner un profil, pouvant comprendre une adresse </span></div>
      <div class="t m0 x4 h5 y56 ff2 fs1 fc0 sc0 ls0 ws1">et un numéro de téléphone ;</div>
      <div class="t m0 x4 h5 y57 ff1 fs1 fc3 sc0 ls0 ws1">- paiement : <span class="ff2 fc0">dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci enregistre des données </span></div>
      <div class="t m0 x4 h5 y58 ff2 fs1 fc0 sc0 ls0 ws1">financières relatives au compte bancaire ou à la carte de crédit de l'utilisateur ;</div>
      <div class="t m0 x4 h5 y59 ff1 fs1 fc3 sc0 ls0 ws1">- communication : <span class="ff2 fc0">lorsque le site web est utilisé pour communiquer avec d'autres membres, les données concernant les </span></div>
      <div class="t m0 x4 h5 y5a ff2 fs1 fc0 sc0 ls0 ws1">communications de l'utilisateur font l'objet d'une conservation temporaire ;</div>
      <div class="t m0 x4 h5 y5b ff1 fs1 fc3 sc0 ls0 ws1">- cookies :<span class="ff2 fc0"> les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la possibilité de désactiver les cookies </span></div>
      <div class="t m0 x4 h5 y5c ff2 fs1 fc0 sc0 ls0 ws1">à partir des paramètres de son navigateur.</div>
      <div class="t m0 x4 h5 y5d ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y5e ff1 fs1 fc0 sc0 ls0 ws1">Utilisation des données personnelles </div>
      <div class="t m0 x4 h5 y5f ff2 fs1 fc0 sc0 ls0 ws1">Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des services du site web, </div>
      <div class="t m0 x4 h5 y60 ff2 fs1 fc0 sc0 ls0 ws1">leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les utilisations sont les suivantes :</div>
      <div class="t m0 x4 h5 y61 ff2 fs1 fc0 sc0 ls0 ws1">-  accès et utilisation du site web par l'utilisateur ;</div>
      <div class="t m0 x4 h5 y62 ff2 fs1 fc0 sc0 ls0 ws1">-  gestion du fonctionnement et optimisation du site web ;</div>
      <div class="t m0 x4 h5 y63 ff2 fs1 fc0 sc0 ls0 ws1">-  organisation des conditions d'utilisation des Services de paiement ;</div>
      <div class="t m0 x4 h5 y64 ff2 fs1 fc0 sc0 ls0 ws1">-  vérification, identification et authentification des données transmises par l'utilisateur ;</div>
      <div class="t m0 x4 h5 y65 ff2 fs1 fc0 sc0 ls0 ws1">-  proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web ;</div>
      <div class="t m0 x4 h5 y66 ff2 fs1 fc0 sc0 ls0 ws1">-  mise en oeuvre d'une assistance utilisateurs ;</div>
      <div class="t m0 x4 h5 y67 ff2 fs1 fc0 sc0 ls0 ws1">-  personnalisation des services en affichant des publicités en fonction de l'historique de navigation de l'utilisateur, selon ses </div>
      <div class="t m0 x4 h5 y68 ff2 fs1 fc0 sc0 ls0 ws1">préférences ;</div>
      <div class="t m0 x4 h5 y69 ff2 fs1 fc0 sc0 ls0 ws1">-  prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et gestion des incidents de </div>
      <div class="t m0 x4 h5 y6a ff2 fs1 fc0 sc0 ls0 ws1">sécurité ;</div>
      <div class="t m0 x4 h5 y6b ff2 fs1 fc0 sc0 ls0 ws1">-  gestion des éventuels litiges avec les utilisateurs ;</div>
      <div class="t m0 x4 h5 y6c ff2 fs1 fc0 sc0 ls0 ws1">-  envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur.</div>
      <div class="t m0 x4 h3 y6d ff1 fs1 fc0 sc0 ls0 ws1">Partage des données personnelles avec des tiers</div>
      <div class="t m0 x4 h5 y6e ff2 fs1 fc0 sc0 ls0 ws1">Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants :</div>
      <div class="t m0 x4 h5 y6f ff2 fs1 fc0 sc0 ls0 ws1">-  lorsque l'Utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le site web est en relation avec </div>
      <div class="t m0 x4 h5 y70 ff2 fs1 fc0 sc0 ls0 ws1">des sociétés bancaires et financières tierces avec lesquelles elle a passé des contrats ;</div>
      <div class="t m0 x4 h5 y71 ff2 fs1 fc0 sc0 ls0 ws1">-  lorsque l'Utilisateur publie, dans les zones de commentaires libres du site web, des informations accessibles au public ;</div>
      <div class="t m0 x4 h5 y72 ff2 fs1 fc0 sc0 ls0 ws1">-  lorsque l'Utilisateur autorise le site web d'un tiers à accéder à ses données ;</div>
      <div class="t m0 x4 h5 y3b ff2 fs1 fc0 sc0 ls0 ws1"><span class="fc2 sc0">- </span><span class="fc2 sc0"> </span><span class="fc2 sc0">lorsque</span><span class="fc2 sc0"> </span><span class="fc2 sc0">le </span><span class="fc2 sc0">site </span><span class="fc2 sc0">web </span><span class="fc2 sc0">recourt </span><span class="fc2 sc0">aux </span><span class="fc2 sc0">services </span><span class="fc2 sc0">de </span><span class="fc2 sc0">prestataires </span><span class="fc2 sc0">pour </span><span class="fc2 sc0">fournir </span><span class="fc2 sc0">l'assistance </span><span class="fc2 sc0">utilisateurs, </span><span class="fc2 sc0">la </span><span class="fc2 sc0">publicité </span><span class="fc2 sc0">et </span><span class="fc2 sc0">les </span><span class="fc2 sc0">services </span><span class="fc2 sc0">de </span></div>
    </div>
    <div class="c x1 y1 w2 h2">
      <div class="t m0 x4 h5 y3c ff2 fs1 fc0 sc0 ls0 ws1">-  lorsque le site web recourt aux services de prestataires pour fournir l'assistance utilisateurs, la publicité et les services de </div>
      <div class="t m0 x4 h5 y3d ff2 fs1 fc0 sc0 ls0 ws1">paiement. Ces prestataires disposent d'un accès limité aux données de l'utilisateur, dans le cadre de l'exécution de ces </div>
      <div class="t m0 x4 h5 y3e ff2 fs1 fc0 sc0 ls0 ws1">prestations, et ont une obligation contractuelle de les utiliser en conformité avec les dispositions de la réglementation </div>
      <div class="t m0 x4 h5 y3f ff2 fs1 fc0 sc0 ls0 ws1">applicable en matière protection des données à caractère personnel ;</div>
      <div class="t m0 x4 h5 y40 ff2 fs1 fc0 sc0 ls0 ws1">-  si la loi l'exige, le site web peut effectuer la transmission de données pour donner suite aux réclamations présentées contre </div>
      <div class="t m0 x4 h5 y41 ff2 fs1 fc0 sc0 ls0 ws1">le site web et se conformer aux procédures administratives et judiciaires ;</div>
      <div class="t m0 x4 h5 y42 ff2 fs1 fc0 sc0 ls0 ws1">-  si le site web est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure de redressement </div>
      <div class="t m0 x4 h5 y43 ff2 fs1 fc0 sc0 ls0 ws1">judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y compris les données à caractère </div>
      <div class="t m0 x4 h5 y73 ff2 fs1 fc0 sc0 ls0 ws1">personnel. Dans ce cas, les utilisateurs seraient informés, avant que les données à caractère personnel ne soient transférées à </div>
      <div class="t m0 x4 h5 y74 ff2 fs1 fc0 sc0 ls0 ws1">une tierce partie.</div>
      <div class="t m0 x4 h3 y47 ff1 fs1 fc0 sc0 ls0 ws1">Sécurité et confidentialité</div>
      <div class="t m0 x4 h5 y48 ff2 fs1 fc0 sc0 ls0 ws1">Le site web met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière de sécurité du </div>
      <div class="t m0 x4 h5 y49 ff2 fs1 fc0 sc0 ls0 ws1">numérique pour protéger les données personnelles contre les altérations, destructions et accès non autorisés. Toutefois, il est </div>
      <div class="t m0 x4 h5 y4a ff2 fs1 fc0 sc0 ls0 ws1">à signaler qu'internet n'est pas un environnement complètement sécurisé et le site web ne peut pas garantir la sécurité de la </div>
      <div class="t m0 x4 h5 y4b ff2 fs1 fc0 sc0 ls0 ws1">transmission ou du stockage des informations sur internet.</div>
      <div class="t m0 x4 h3 y75 ff1 fs1 fc0 sc0 ls0 ws1">Mise en oeuvre des droits des utilisateurs</div>
      <div class="t m0 x4 h5 y4e ff2 fs1 fc0 sc0 ls0 ws1">En application de la réglementation applicable aux données à caractère personnel, les utilisateurs disposent des droits </div>
      <div class="t m0 x4 h5 y76 ff2 fs1 fc0 sc0 ls0 ws1">suivants, qu'ils peuvent exercer en faisant leur demande à l'adresse suivante : <span class="_ _10"> </span>.<span class="_ _11"></span>contact@monetize.fr</div>
      <div class="t m0 x1 h5 y77 ff2 fs1 fc0 sc0 ls0 ws1">le droit d’accès : ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les concernant. Dans </div>
      <div class="t m0 x1 h5 y78 ff2 fs1 fc0 sc0 ls0 ws1">ce cas, avant la mise en œuvre de ce droit, le site web peut demander une preuve de l'identité de l'utilisateur afin d'en </div>
      <div class="t m0 x1 h5 y79 ff2 fs1 fc0 sc0 ls0 ws1">vérifier l'exactitude. </div>
      <div class="t m0 x1 h5 y7a ff2 fs1 fc0 sc0 ls0 ws1">le droit de rectification : si les données à caractère personnel détenues par le site web sont inexactes, ils peuvent </div>
      <div class="t m0 x1 h5 y7b ff2 fs1 fc0 sc0 ls0 ws1">demander la mise à jour des informations.</div>
      <div class="t m0 x1 h5 y7c ff2 fs1 fc0 sc0 ls0 ws1">le droit de suppression des données : les utilisateurs peuvent demander la suppression de leurs données à caractère </div>
      <div class="t m0 x1 h5 y7d ff2 fs1 fc0 sc0 ls0 ws1">personnel, conformément aux lois applicables en matière de protection des données. </div>
      <div class="t m0 x1 h5 y7e ff2 fs1 fc0 sc0 ls0 ws1">le droit à la limitation du traitement : les utilisateurs peuvent de demander au site web de limiter le traitement des </div>
      <div class="t m0 x1 h5 y7f ff2 fs1 fc0 sc0 ls0 ws1">données personnelles conformément aux hypothèses prévues par le RGPD. </div>
      <div class="t m0 x1 h5 y80 ff2 fs1 fc0 sc0 ls0 ws1">le droit de s’opposer au traitement des données : les utilisateurs peuvent s’opposer à ce que ses données soient </div>
      <div class="t m0 x1 h5 y81 ff2 fs1 fc0 sc0 ls0 ws1">traitées conformément aux hypothèses prévues par le RGPD.  </div>
      <div class="t m0 x1 h5 y82 ff2 fs1 fc0 sc0 ls0 ws1">le droit à la portabilité : ils peuvent réclamer que le site web leur remette les données personnelles qui lui sont </div>
      <div class="t m0 x1 h5 y83 ff2 fs1 fc0 sc0 ls0 ws1">fournies pour les transmettre à un nouveau site web.</div>
      <div class="t m0 x4 h3 y84 ff1 fs1 fc0 sc0 ls0 ws1">Evolution de la présente clause</div>
      <div class="t m0 x4 h5 y85 ff2 fs1 fc0 sc0 ls0 ws1">Le site web se réserve le droit d'apporter toute modification à la présente clause relative à la protection des données à </div>
      <div class="t m0 x4 h5 y86 ff2 fs1 fc0 sc0 ls0 ws1">caractère personnel à tout moment. Si une modification est apportée à la présente clause de protection des données à </div>
      <div class="t m0 x4 h5 y87 ff2 fs1 fc0 sc0 ls0 ws1">caractère personnel, le site web s'engage à publier la nouvelle version sur son site. Le site web informera également les </div>
      <div class="t m0 x4 h5 y88 ff2 fs1 fc0 sc0 ls0 ws1">utilisateurs de la modification par messagerie électronique, dans un délai minimum de 15 jours avant la date d'effet. Si </div>
      <div class="t m0 x4 h5 y89 ff2 fs1 fc0 sc0 ls0 ws1">l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des données à caractère </div>
      <div class="t m0 x4 h5 y8a ff2 fs1 fc0 sc0 ls0 ws1">personnel, il a la possibilité de supprimer son compte.</div>
      <div class="t m0 x4 h5 y8b ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y8c ff1 fs1 fc0 sc0 ls0 ws1">Article 8  - Cookies</div>
      <div class="t m0 x4 h5 y8d ff2 fs1 fc0 sc0 ls0 ws1">Le site Monetize peut collecter automatiquement des informations standards. Toutes les informations collectées </div>
      <div class="t m0 x4 h5 y8e ff2 fs1 fc0 sc0 ls0 ws1">indirectement ne seront utilisées que pour suivre le volume, le type et la configuration du trafic utilisant ce site, pour en </div>
      <div class="t m0 x4 h5 y8f ff2 fs1 fc0 sc0 ls0 ws1">développer la conception et l'agencement et à d'autres fins administratives et de planification et plus généralement pour </div>
      <div class="t m0 x7 h5 y90 ff2 fs1 fc0 sc0 ls0 ws1"> <span class="_ _14"></span>améliorer le service que nous vous offrons.</div>
      <div class="t m0 x4 h5 y91 ff2 fs1 fc0 sc0 ls0 ws1"> </div>
      <div class="t m0 x4 h3 y92 ff1 fs1 fc0 sc0 ls0 ws1">Article 9 - Loi applicable</div>
      <div class="t m0 x4 h5 y93 ff2 fs1 fc0 sc0 ls0 ws1">Les présentes conditions générales d'utilisation sont soumises à l'application du droit français. </div>
      <div class="t m0 x4 h5 y94 ff2 fs1 fc0 sc0 ls0 ws1">Si les parties n'arrivent pas à résoudre un litige à l'amiable, le litige sera soumis à la compétence des tribunaux français.</div>
      <div class="t m0 x4 h5 y95 ff2 fs1 fc0 sc0 ls0 ws1"> </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>