<!-- HERO -->
<div class="section section-1">
  <%= render "sections/section_1" %>
</div>
<!-- /HERO -->
<div class="section-spacer">
</div>
<!-- AVANTAGES -->
<div class="section section-2">
  <%= render "sections/section_2" %>
</div>
<!-- /AVANTAGES -->
<div class="section-spacer">
</div>
<!-- COMMENT CA MARCHE -->
<div class="section section-3">
  <%= render "sections/section_3" %>
</div>
<!-- /COMMENT CA MARCHE -->
<div class="section-spacer primary-section-spacer">
</div>
<!-- CATALOGUE -->
<div class="section section-4">
  <%= render "sections/section_4" %>
</div>
<!-- /CATALOGUE -->
<!-- RETOURS -->
<div class="section section-5"></div>
<!-- /RETOURS -->
<div class="section-spacer">
</div>
<!-- FAQ -->
<div class="section section-6"></div>
<!-- /FAQ -->
<div class="section-spacer">
</div>
<!-- LAST -->
<div class="section section-7"></div>
<!-- /LAST -->
<div class="section-spacer">
</div>