.ccm-container {


  .link {
    height: 100%;
    hr {
      width: 50px;
      border-top: 4px dashed #38aecc;
      opacity: 1;
    }

  }

  .text-prim {
    color: #38aecc;
    font-weight: bold;
  }

  .step{
    width: 250px;
    gap:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h5{
      text-align: center;
      font-weight: 400;
      /* max-width: 335px; */
      position: absolute;
      top: 66%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 180px;
      font-size: 1rem;
    }

    .step-box {
      transition: all .1s ease-in-out; 
      box-shadow: none;
      z-index: 10;
      &:hover {
        transform: scale(1.01);
      }
      position: relative;
      height: 250px;
      width: 250px;
      border-radius: 500px;
      border:1px solid #38aecc;
      background:white;
      .number-container {
        position: absolute;
        top: 0;
        left: 50%;
        background: #38aecc;
        color: white;
        height: 17.5%;
        width: 17.5%;
        border-radius: 200px;
        transform: translate(-50%, -50%);
        div {
          font-weight: 400!important;
          font-size: 18px;
        }
      }
      img {
        height: 80px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }
    .step-text {

    }
  }
}

@media (max-width:1200px) {
  .ccm-container {
    flex-direction: column;
    align-items: center!important;
  }
  .link {
    transform: rotate(90deg);
    height: 50px!important;
  }
}
