.footer.footer-container {
  box-shadow: $outset;
  padding:10px;
  height: $footer-height;
  background: white;
  overflow: hidden;
  p{
    margin: 0;
    color:$primary-color;
    font-size: 12px;
    a {
      color:$primary-color!important;
    }
  }
}

.footer.mobile-footer-container {
  display:none;
  box-shadow: $outset;
  padding:10px;
  background: white;
  // height: $footer-height;
  p{
    text-align:center;
    margin: 0;
    color:$primary-color;
    font-size: 12px;
    a {
      color:$primary-color!important;
    }
  }
}

// @media (max-width:800px) {
// .footer.mobile-footer-container {
//   display:block!important;
// }
// .footer.footer-container {
//   display: none!important;
//   }
// }
