.site-wrapper {
  display:flex;
  align-items:center;
  justify-content: flex-start;
}



.article-container {
  padding: 2rem;
}

/**
 * Article Block
 */
.article-block {
  text-align: center;
}

.article-block .entry-content > p {
  color: #666;
}

/**
 * Tabs Container
 */
.tabs-container {
  padding: 0!important;

}

/**
 * Tabs Block
 */
.tabs-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Tabs
 */
.tabs {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.tabs > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  min-width: 35px;
  box-shadow:$outset;
  z-index:10;
  position: sticky;
  margin-top: 50px;
  top:calc(#{$navbar-height} + 30px);
  border-radius: 10px;
  overflow: hidden;
}

.tabs > ul li {
  display: block;
}

.tabs > ul li:first-child {

}
.tabs > ul li:last-child {
}

.tabs > ul li a,
.tabs > ul li a:visited {
  display: flex;
  border-bottom: none;
  text-decoration: none;
  background: white;
  color: $primary-color;
  padding: 1rem 0.5rem;
  transition: all 0.2s ease-in-out;
  word-wrap: break-word;
}

.tabs > ul li a:hover,
.tabs > ul li a:focus,
.tabs > ul li a:active {
  border-bottom: none;
  outline: 0;
}

.tabs > ul li a.active {
  background: $primary-color;
  color: white;
}

.tabs > ul li a:hover:not(.active) {
  background: $primary-color;
  color: white;
}

.tabs > ul li a > span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs > ul li a > span.tab-icon {
  display: none;

}

.tabs > ul li a > span.tab-label {
  writing-mode: tb-rl;
  transform: scale(-1);
  font-size: 12px;
}

.tabs section {
  width: 85%;
  background: #fff;
  padding: .5rem;
  margin: .5rem;
  display: none;
  word-wrap: break-word;

  img {
    max-width: 80%;
    max-height:100px;
    margin-bottom: 25px;
  }

  h2 {
    margin-bottom: 12px;

  }
  h3 {
    margin-top:30px;
    margin-bottom: 10px;

  }
  p {
    margin:10px 0;

  }
}

.tabs section > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
}



.tabs section.active {
  display: block;
}

.tabs section.active-content > * {
  opacity: 1;
  transform: translateY(0);
  text-align: left;
}
@media (min-width: 576px) {

  .tabs > ul {
    width: 150px;
  }

  .tabs > ul li a {
    flex-wrap: wrap;
  }

  .tabs > ul li a > span {
    width: 100%;
  }

  .tabs > ul li a > span.tab-icon {
    width: 100%;
    display: block;
    margin-bottom: 0.4rem;
    font-size:20px;
  }

  .tabs > ul li a > span.tab-label {
  writing-mode: unset;
  transform: scale(1);
  }

  .tabs section {
    width: calc(100% - 150px);
    padding: 1rem;
    margin: 1rem;
  }
}
@media (min-width: 768px) {

  .tabs-container {
    padding: 4rem 4rem;
  }
}
@media (min-width: 992px) {

  .tabs {
    width: 800px;
  }
}
