.user-social-manager-container {
  background:white;
  // box-shadow:$outset;
  // border-radius:12px;
  .social-form {
    background: white;
    color: white;
    padding:15px;
    .field {
      display:flex;
      align-items:center;
      justify-content:center;
      gap:10px;

      .form-group.hidden {
      	display:none;
      }

      button {
        background: none;
        border:none;


        i {
          box-shadow: $outset;
          font-size: 2.5rem;
          color:$primary-color;
          border-radius:50%;

        }
      }
      .add-social {
        color:red;
      }
      select {

      }
      input, select {
        background:white;
        border:none;
        box-shadow:$outset;
        color:$dark;


      }
    }
  }
}

#social {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  flex-direction: column;
  padding: 30px;
  min-height: calc(150px + 10vh);
  min-width: 300px;
  max-width: 400px;
}

