
.social-section {
	min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
	padding:50px 10px!important;
	align-items: flex-start!important;

	.next-step {

		opacity:0;
		transition: opacity .3s linear .3s;
		a{
			pointer-events: none;
		}
	}
	.next-step.enabled {

		opacity:1;
		a{
			pointer-events: all;
		}
	}
}


.social-container{
  gap:7.5px;
  p{

  }
  .social-image-container{
    position: relative;
    height:35px;
    width: 35px;
    box-shadow:$outset;
    border-radius:50%;
    flex-shrink: 0;
    img {
      height:100%;
      width: 100%;
    }
    a {
      position:absolute;
      height:100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-125%, -50%);
      color:transparent;

      color:black;
      opacity:.3;

      &:hover {
        opacity:1;

      }
      i{
        font-size: 15px;
      }
    }
  }
}
