Bonjour <%= @user.pseudo %>, <br>
Nous espérons que vous vous portez bien !
<br>
<br>
<p>Quelqu'un a demandé le changement de votre mot de passe Monetizee. Si vous êtes à l'origine de cette demande, veuillez cliquer sur le lien ci-dessous:</p>
<br>
<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<br>
<p>Sinon, veuillez ignorer cet e-mail.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas accédé au lien ci-dessus.</p>




